html, body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;  
}

body {  
  background-image: url("images/bkb.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;  
}
section {
  box-sizing: border-box;
  margin: 0 auto;
  width: 70vh;
  background: white;
  padding: 1.5rem;
  padding-bottom: 4rem;
}
h2, .full-width-borders {
  margin: 0 -601.5rem;  
  padding: .25rem 1.5rem;
  background:#4CAF50;  
  border-left: 600rem solid rgb(13, 83, 72);
  border-right: 600rem solid rgb(13, 83, 72);
  color: white;
  font-size: 3.5vw;  
}

h3{
  font: 400 100px/1.2 'Leckerli One', Helvetica, sans-serif;
  color: #000;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2); 
  text-align: center;
}

h4{
  font: 3vh 'Leckerli One', Helvetica, sans-serif;
  color: #4CAF50;   
  text-align: center;
}


input {
  width: 100%;
  height: 6vh;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 2vh;  
}

button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  height: 6vh;
  border-radius: 4px;
  cursor: pointer;
  font-size : 2vh;
}

hr {
  width: 80%;
}

b{
  text-align: center;  
}

table {
  font-family: arial, sans-serif; border-collapse: collapse; width: 100%;
  font-size: 2vh;
  text-align: justify;  
}

td{
  border: 1px solid; text-align: left; padding: 8px;
}

th{
  border: 1px solid; text-align: center; padding: 8px;
  font: 150 30px/1.2 'Leckerli One', Helvetica, sans-serif;
  color: #000;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2); 
  text-align: center;
}




tr:nth-child(even) {
  background-color: #dddddd;
}

.admin {
  font-size: 2vw;    
  text-align: justify
}

h2, .error{
  background:red;  
  border-left: 600rem solid maroon;
  border-right: 600rem solid maroon;
}